BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON_VFPV4=y
BR2_DL_DIR="/host/dl"
BR2_CCACHE=y
BR2_CCACHE_DIR="/host/.buildroot-ccache"

BR2_TOOLCHAIN_EXTERNAL=y

# Linux headers same as kernel, a 4.14 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y

# Build the Linux kernel from source using our linux.config
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/raspberrypi/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="8c8666ff6c1254d325cfa300d16f9928b3f31fc0"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/sandvikcode/rpi3/linux.config"
BR2_LINUX_KERNEL_LZO=y

# Build the DTB from the kernel sources
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2710-rpi-3-b bcm2710-rpi-cm3"

BR2_PACKAGE_RPI_FIRMWARE=y
BR2_PACKAGE_RPI_WIFI_FIRMWARE=y

# Required tools to create the SD image
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y

# Added busybox configuration file
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/sandvikcode/rpi3/busybox.fragment"

# Support Windows shared folders using CIFS and SAMBA4
BR2_PACKAGE_CIFS_UTILS=y
BR2_PACKAGE_SAMBA4=y

# Use dynamic device creation with eudev
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y

# Add Linux firmware package
BR2_PACKAGE_LINUX_FIRMWARE=y

# Add ralink wireless driver
BR2_PACKAGE_LINUX_FIRMWARE_RALINK_RT2XX=y

# Add wifi support
BR2_PACKAGE_WPA_SUPPLICANT=y

# Add avahi-daemon (service discovery support)
BR2_PACKAGE_AVAHI=y
# BR2_PACKAGE_AVAHI_AUTOIPD is not set
BR2_PACKAGE_AVAHI_DAEMON=y

# Filesystem / image
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="512M"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_ROOTFS_POST_BUILD_SCRIPT="board/sandvikcode/rpi3/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/sandvikcode/rpi3/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="--add-pi3-miniuart-bt-overlay"
BR2_ROOTFS_OVERLAY="board/sandvikcode/rpi3/rootfs_overlay"

# Device table to set permissions on files / device nodes
BR2_ROOTFS_DEVICE_TABLE="board/sandvikcode/rpi3/device_table.txt"
